html, body {
  font-family: 'Open Sans';
}

.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

#navigation {
  margin-bottom: 2rem;
}

#navigation button {
  margin-right: 1rem;
}

#slide {
  border: 1px solid #eee;
  padding: 1rem;
}

button {
  background-color: #1BA94C;
  outline: none;
  border: none;
  padding: 20px 40px;
  font-size: large;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  border-radius: 5px;
}

button:disabled{
  background-color: rgba(27, 169, 77, 0.664);
}